.works {
    background-color: #fcfcfc;
    padding: 7rem 0;
}

.works_content {

}

.works_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.works_icon {
    font-size: 4rem;
}

.works_icon svg {
    /* stroke-width: 0.8; */
}

.works_box {
    padding: 1rem;
}

.works_box h3 {
    font-size: 1.6rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.works_box p {
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    color: #808080;
    text-align: center;
}