.footer {
    padding: 7rem 0;
    background-color: #232525;
}

.footer_content {
    display: flex;
    flex-direction: column;
}

.footer_header {
    margin-bottom: 30px;
    font-size: 1.2rem;
    color: #e6e6e6;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.footer_content_about {
    color: rgba(255, 255, 255, 0.6) !important;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 200;
}

.footer_content_listcontainer {
    display: flex;
    flex-direction: column;
}

.footer_content_list {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 0.5rem;
}

.footer_content_list span {
    font-size: 1.5rem;
    color: #a2dc4d;
    margin-top: -0.4rem;
}

.footer_content_list p {
    color: rgba(255, 255, 255, 0.9) !important;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 200;
    margin: 0;
}

.footer_content_contact p {
    margin: 0;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 200;
}

.footer_content_infolist {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.footer_content_info {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.footer_content_info span {
    font-size: 1.2rem;
    color: #a2dc4d;
    margin-bottom: 1rem;
}

.footer_content_info p {
    margin: 0;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 200;
}